$font1:'Lato', sans-serif;
$font2:'Niramit', sans-serif;

$main-color:#64c29e;
$title-color:#7e7f80;
$text-color:#8e9193;
$light-color:#f7f7f7;
$dark-color:#282f35;
$white:#FFF;

body {
	height:100%;
}
html {
	height:100%;
}

*{
	box-sizing: border-box;
}