.wot{
    width: 100%;
    height: auto;
    background: $light-color;
    .container{
        max-width: 80%;
        margin: 0 auto;
        // width: 100%;
        padding: 100px 0;
        article{
            text-align: center;
            // position: relative;
            .icon-home{
                font-size: 30px;
                color: $main-color;
            }
            h1{
                font-size: 17px;
                color: $dark-color;
                font-weight: bold;
                text-transform: uppercase;
                margin: 20px 0;
                font-family: $font1;
                letter-spacing: 3px;
            }
            p{
                font-size: 17px;
                color: $text-color;
                line-height: 30px;
                font-family: $font1;
            }
        }
    }
}
